body {
  background-color: #fff;
  color: #323232
}
.content {
  margin: 0;
  top:0;
  left: 15px;
}
.close, .form-title {
  display: none;
}
.ul-wrapper{
  height: auto;
}

#content{
  padding: 20px;
}
.cv-title{
  font-size: 36px;
  margin-bottom: 20px;
}
.item {
  font-size: 28px;
}
.content ol:before {
  background-color: #c2c2c2;
}
.content ol {
  font-size: 15px;
}
.content li {
  font-size: 18px;
}

.swiper-all{
  display: none;
}

a {
  color: #323232;
}
.link-print {
  display: block;
  margin-left: 15px;

}

.link-not-print {
  display: none;
}