.content {
  margin: 0;
  top:0;
  left: 15px;
}
.close, .form-title {
  display: none;
}
.ul-wrapper{
  height: auto;
}

#content{
  padding: 20px;
}
.cv-title{
  font-size: 36px;
  margin-bottom: 20px;
}
.item {
  font-size: 30px;
}