@font-face {
  font-family: 'Just Gotta Smile';
  src: url('./fonts/JustGottaSmile.woff2') format('woff2'),
      url('./fonts/JustGottaSmile.woff') format('woff'),
      url('./fonts/JustGottaSmile.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Slab';
  src: url('./fonts/JosefinSlab.woff2') format('woff2'),
      url('./fonts/JosefinSlab.woff') format('woff'),
      url('./fonts/JosefinSlab.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #323232;
  width: 100%;
  font-family: 'Just Gotta Smile';
  color: #fff;
}

.menu {
  left: 20px;
  line-height: 70px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 400px;
  font-size: 64px;
  top: 80px;
}

.item {
  cursor: pointer;
  position: relative;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%) ;
  -ms-transform: translateX(-50%) ; /* IE 9 */
  -webkit-transform: translateX(-50%); /* Safari 3-8 */
  transition: opacity 0.5s ease-in-out;
}

.item.closed {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

.content {
  font-family: 'Josefin Slab';
  padding-top: 10px;
  left: 50px;
  max-width: 600px;
  text-align: left;
  top: 50px;
  width: 60%;
  margin: 0 auto;
  line-height: 40px;
  height: 0;
  opacity: 0;
  font-size: 20px;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  visibility: hidden;
}

.content.open {
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  visibility: visible;
}

.item:hover {
  color: #a4cbe6;
}

.wrapper {
  width: 80%;
  max-width: 1300px;
  height: 800px;
  margin: 0 auto;
  background-image: url(../img/cv_bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}

.close {
  position: absolute;
  top: -29px;
  left: -7px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}